html {
  font-size: 14px;
  color: var(--Gray-Scale-Gray-400, #999);
  font-weight: 400;
  font-family: "Poppins";
}

/* || General Styles*/
.section__content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--Gray-Scale-Gray-600, #666);
  flex-wrap: wrap;
  padding: 19px 0;
}

a {
  text-decoration: none;
}

/* || Header */

.header-line {
  padding: 0px;
  background: var(--Gray-Scale-Gray-800, #333);

  box-shadow: 0px 1px 0px 0px #e5e5e5;
  font-size: 12px;
}

.headerSection {
  padding: 12px 0px;
}

.header-line__location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-line__signUp {
  display: flex;
  align-items: center;
  gap: 20px;
}

.signUp-text {
  color: var(--Gray-Scale-Gray-300, #b3b3b3);
}

/* || Search Section*/
#search__input {
  padding: 12px 0px 12px 32px;
  width: 400px;
  background-image: url("../photos/Search.svg");
  background-repeat: no-repeat;
  background-position: center left 7px;
  font-size: 15px;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
}

.searchSection {
  padding: 20px 0px;
}

.search-line {
  box-shadow: 0px 1px 0px 0px #e5e5e5;
}

.searchSection__input {
  display: flex;
}

#Search__btn {
  border-radius: 0px 6px 6px 0px;
  background: var(--Branding-Success, #00b207);
  padding: 14px 24px;
  border-style: none;
  color: var(--Gray-Scale-White, #fff);
  font-weight: 600;
}

.searchSection__cart {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cart-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: var(--Gray-Scale-Gray-700, #4d4d4d);
  font-size: 11px;
}

.cart-info__amount {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
}

/* || Navigation Bar*/
.nav-line {
  padding: 16px 0px;
  color: var(--Gray-Scale-Gray-400, #999);
  font-weight: 500;
}
.white-span {
  color: var(--Gray-Scale-White, #fff);
}

.navSection {
  align-items: center;
}

.navigation__menu {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0px;
}

.navigation__menu-item {
  text-decoration: none;
  color: var(--Gray-Scale-Gray-600, #666);
}

.navSection__phone {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
}

.linking {
  text-decoration: none;
}

.greenSpan {
  color: var(--Branding-Success, #00b207);
}

/* || Bacground Menu Section */
.menuBacground {
  background-image: url("../photos/breedcrumb.jpg");
  height: 88px;
  background-repeat: no-repeat;
}

.menuBacground__Section {
  justify-content: left;
  gap: 12px;
  font-size: 16px;
}

.Bacground__imgvgt {
  color: var(--Gray-Scale-Gray-400, #999);
}

/* || Main */
.cart__section-header {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-size: 32px;
  font-weight: 600;
}

.cart__section {
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.cart__section-card {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  padding: 16px 20px;
}

.cart__section-card__products {
  display: flex;
  padding: 0px 96px 16px 20px;
  align-items: center;
  gap: 300px;
}

.cart__section-card__products-details {
  display: flex;
  gap: 87px;
}

.products-heading__name {
  color: var(--Gray-Scale-Gray-500, #808080);
  font-weight: 500;
}

.cart__section-card__featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-size: 16px;
}

.cart__section-card__featured-product {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 295px;
}

.card__featured-amount {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 170px;
  padding: 8px;

  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
}

.boldingText {
  font-weight: 500;
}

.cart__section-card__btns {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.cart__section-cards {
  display: flex;
  width: 100%;
  gap: 24px;
}

.cart__section-card__btn {
  background: var(--Gray-Scale-Gray-50, #f2f2f2);
  border-radius: 43px;
  border-style: none;
  padding: 14px 32px;
  color: var(--Gray-Scale-Gray-700, #4d4d4d);
  font-weight: 600;
}

.cart__section-cards__total {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  padding: 24px;
  border-radius: 8px;
  background: var(--Gray-Scale-White, #fff);
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  height: 258px;
  width: 424px;
}

.cards__total-header {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0px;
}

.cards__total-subtotal {
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 1px 0px 0px #e5e5e5;
  align-items: center;
  width: 100%;
}
.cards__total-subtotal__span {
  color: var(--Gray-Scale-Gray-700, #4d4d4d);
}

.cards__total-subtotal__amount {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-weight: 500;
}

.bolder {
  font-size: 16px;
  font-weight: 600;
}

.noshadow {
  box-shadow: none;
}

.cards__total-btn {
  background: var(--Branding-Success, #00b207);
  border-radius: 43px;
  border-style: none;
  padding: 16px 40px;
  color: var(--Gray-Scale-White, #fff);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.cart__section-cards__coupon {
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  padding: 20px;
  gap: 24px;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-weight: 500;
  align-items: center;
  margin: 24px 0px 50px 0px;
}

.cart__section-cards__coupon-header {
  margin: 0px;
  font-size: 24px;

  font-weight: 600;
}

#number__input {
  border-radius: 46px;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  width: 396px;
  padding: 14px 24px;
  color: var(--Gray-Scale-Gray-500, #808080);
}

#ApplyCoupon__btn {
  border-radius: 43px;
  background: var(--Gray-Scale-Gray-800, #333);
  border-style: none;
  padding: 16px 40px;
  color: var(--Gray-Scale-White, #fff);
  font-size: 16px;
  font-weight: 600;
  position: relative;
  right: 33px;
}

/* || Subscribe Section */
.subscribeContainer {
  background: #f7f7f7;
  padding: 40px 0px;
}

.subscribeSection__info {
  align-items: center;

  display: flex;
}

.subscribeSection__info-description-header {
  font-size: 24px;
  font-weight: 600;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  margin-top: 0px;
}

.subscribeSection__info-description-text {
  width: 448px;
  color: var(--Gray-Scale-Gray-400, #999);
}

.subscribeSection__info-socialinput {
  display: flex;
  align-items: center;
}

#mail__input {
  border-radius: 46px;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  width: 368px;
  padding: 14px 24px;
  color: var(--Gray-Scale-Gray-500, #808080);
}

#Subscribe__btn {
  border-radius: 43px;
  background: var(--Branding-Success, #00b207);
  border-style: none;
  padding: 16px 40px;
  color: var(--Gray-Scale-White, #fff);
  font-size: 16px;
  font-weight: 600;
  position: relative;
  right: 33px;
}

.subscribeSection__info-social {
  display: flex;
  gap: 8px;
}
/* || Footer */
.footerContainerMain {
  background: var(--Gray-Scale-Gray-900, #1a1a1a);
  padding-top: 60px;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  padding-bottom: 60px;
}

.footerSection__description {
  width: 336px;
  color: var(--Gray-Scale-Gray-500, #808080);
}

.footerSection__Number {
  color: var(--Gray-Scale-White, #fff);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #00b207;
}

.footerSection-or {
  color: var(--Gray-Scale-Gray-500, #808080);
  font-size: 16px;
}

.footerSection__logo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ecobazarFooter__logo {
  width: 183px;
}

.footerSection__account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerSection__account-header {
  font-size: 16px;
  font-weight: 500;
  color: var(--Gray-Scale-White, #fff);
}

.footerSection__account-topics {
  color: var(--Gray-Scale-Gray-400, #999);
}

.whiteFooter {
  color: var(--Gray-Scale-White, #fff);
}

.footerRights {
  display: flex;
  box-shadow: 0px -1px 0px 0px #333;
  width: 1280px;
  justify-content: space-between;
  padding: 24px 0px;
  align-items: center;
  color: var(--Gray-Scale-Gray-500, #808080);
}

.footerRight-cards {
  display: flex;
  gap: 8px;
}

.categoriesSection {
  display: flex;
  flex-direction: column;
}
